{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h3>Welcome to the New Reach Intranet!</h3>
</div>

<div style="text-align:center"> 
  <img src="{{url_for('static', filename = 'img/picmain.png')}}" alt="" >
</div>
<br>
<br>
<h1 style="text-align:center"><b>Message from Kellyann</b></h1>
<br>

<p>Dear New Reach staff,</p>
<br>
<p>I hope everyone enjoyed the summer.  New Reach has been busy all summer.
Our due diligence work with FISH continues.  We have had success helping 
them raise funding to keep the doors open.  We will give a full update at the
September 7th board meeting. In addition, I have invited the FISH board members
to the dinner/social part of the meeting.  I hope that you all will be able to
make the meeting in person and stay for dinner.</p>
<br>
<p>It is grant season at New Reach!  We have submitted grants to increase the number 
of units for Rapid ReHousing (22 families annually) and for Supportive housing (36 units).
In addition, we requested funding from the Community Foundation and Seachange to fund
the FISH merger and operating dollars.  We are requesting an increase for our diversion program also. </p>
<br>
<p>Please mark your calendar for October 20th at 5 pm at Stony Creek Brewery for A Night Out with New Reach!  
We are in need of items for the raffle, many thanks to the board members on the committee who are rounding
up items and sponsorships.  If you need information about either, please contact Victoria.
The audit is underway and we should have final numbers in September. </p>
<br>
<p>Best,</p>
 
<p>Kellyann</p>
<br>
<h3 style="text-align:center">Diversity, Equity, & Inclusion</h3>
<br>
<p style="text-align:center">Click the <b>button</b> below to read the most recent DEI Newsletter.</p>
<br>
<div class="text-center"> 
  <a href="https://www.newreach.org/application/files/9216/6030/6930/DEI_Newsletter_August_2022.pdf" class="btn btn-success" role="button" target="_blank">Read Newsletter</a>
</div>
<br>
<br>

<div style="text-align:center"> 
  <h2><b>Strategic Directives 1</b></h2>
</div>
<h3>Housing & Landlord Fair - Washington Park Bridgeport</h3>
<p>On Monday August 8th, 2022 New Reach staff along with our partners in Fairfield County, sponsored and participated in 
  a community wide event to engage Landlords and recognize two leaders within the CT housing sector the State Commissioner 
  of Housing Seila Mosquera Bruno and Pack City Communities Executive Director Jilian Baldwin. Through the event providers 
  were able to increase collaborations and raise community impact to support the needs and resources for our clients.  
  The event was also a wonderful opportunity for our staff and other community providers to come together in person to 
  celebrate the work and partnerships with one another. A special shout out to our partners at Alpha Community Services 
  who coordinated this event with all our partners and New Reach staff Machelle Murry who took Lead from New Reach to support this event.
</p>
<br>
<img src="{{url_for('static', filename = 'img/pic1.png')}}" alt="" width="1200" height="900"> 
<br>
<h3>2022 National Alliance to End Homelessness Conference</h3>
<p>The week of July 24th, 2022, New Reach staff along with other providers, leaders, advocates and people with lived experience 
  were able to come together in Washington DC for the first National Alliance to End Homelessness Conference, since the start 
  of the Pandemic. During this time, New Reach staff were able to share with other providers the best practices and work New Reach 
  continues to lead in CT, as well as further learn about other National best practices, network and further build upon our relationships 
  and work with our Community Partners.
</p>


<div style="text-align:center"> 
  <h2><b>Strategic Directives 2</b></h2>
</div>
<br>
<p>In August, we were so excited to be back in person for our All Staff Meeting. In addition to reviewing our FY23 budget, we also 
  shared the exciting plans for our fall and spring events, and much more!! We even had a raffle with many staff winning fun prizes! 

<p>As part of our SD2 activities for FY23, we will be hosting more events for staff to engage with one another and build comradery. 
  We look forward to sharing all of those activities with you!
</p>
<br>
<img src="{{url_for('static', filename = 'img/pic2.png')}}" alt="">
<br>


<div style="text-align:center"> 
  <h2><b>Strategic Directives 3</b></h2>
</div>
<br>
<p>The plans for A Night Out with New Reach continue to come together. As a reminder, the event will be at Stony Creek Brewery on 
  Thursday, October 20. It will be a very fun night with live music, food, drinks, and the chance to win any number of luxury items 
  including electronics, jewelry, trips, designer handbags and so much more!

<p>As you know, everyone who attends will have a chance to win but winners are chosen through luck of the draw! Admission includes 
  five raffle tickets, an open bar, and food. In addition to the Apple Watches, Apple Airpods and Ring Door Bell, we have added more 
  raffle prizes including diamond and turquois earrings valued at over $1,900 and a 3 month membership to the Guilford Racquet Club 
  valued at over $500. Just as exciting, we have secured our live entertainment, a band called Sketchy at Best.

<p>We also continue to work on our outreach for sponsorships. We are still $40,000 away from our goal so please pass on our sponsorship 
  packet to everyone you know!

</p>
<br>


<div style="text-align:center"> 
  <h2><b>Strategic Directives 4</b></h2>
</div>
<br>
<p>The Team continues with its due diligence process around the FISH merger. Our marketing efforts have been completely rolled out, 
  including the GoFund Me, social media and PR campaigns. We are also working on completing several grant applications, including 
  one to the Community Foundation for $100,000.

<p>Within a week, the GoFund Me campaign has raised $2,120! FISH also received $15,000 from Food Share and $30,000 in donor advised 
  funds from the Community Foundation, $20,000 of which was raised as a result of the news article that appeared in the New Haven 
  Register on Tuesday. 
  
<p>FISH had a great month of fundraising, and we looking forward to the same, if not better results in September
</p>


<div style="text-align:center"> 
  <h2><b>QA Updates</b></h2>
</div>
<br>
<p><b>Deeper Dive into the Data: </b>We have seen an increase in family homelessness since COVID started. The Department of 
  Housing sends out weekly reports with data on how many individuals and families are either in a homeless shelter or living 
  on the streets. When the pandemic first hit, we started trending these data to see what the impact of COVID would be on those 
  experiencing homelessness. While there have been increases in homelessness across the board, there has been a sharper increase 
  in family homelessness. From March 2020 to August 2022, there has been a 62% increase in family homelessness, as compared to a 
  36% increase in individual homelessness. Here is a link to the dashboard where we trend these data: https://public.tableau.com/app/profile/newreach/viz/BNLReport/BNLSnapshot

<p>We looked at data on the families who have received our shelter services over the past 4 years to see if there have been 
  any changes in their demographic or risk characteristics. There were only 2 areas where we saw variation over time- mother’s 
  ages and rates of self-reported mental illness. The rate of youth mothers (ages 24 and younger) has doubled since FY19. Similarly, 
  the rate of reported mental illness has increased by approximately 30% in the same time period.
  
<p>FISH had a great month of fundraising, and we looking forward to the same, if not better results in September
</p>
<br>
<img src="{{url_for('static', filename = 'img/pic3.png')}}" alt="" width="1200" height="900">
<br>
<br>
<img src="{{url_for('static', filename = 'img/pic4.png')}}" alt="" width="1200" height="900">
<br>
<br>
<p>We continue to monitor trends in the data; we use this information to collaborate with our fellow providers in advocating to 
  funders/stakeholders and educating the community.</p> 
<br>
<br>
<div style="text-align:center"> 
  <img src="{{url_for('static', filename = 'img/pic5.png')}}" alt="" >
</div>
{% endblock %}
