{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h3>Welcome to the New Reach Intranet!</h3>
</div>
<h2 style="text-align:center"><b>Message from Kellyann</b></h2>
<p>New Reach Staff Update - August 2022</p>
<br>

<p>Dear New Reach staff,</p>
<br>
<p>I hope everyone enjoyed the summer.  New Reach has been busy all summer.
Our due diligence work with FISH continues.  We have had success helping 
them raise funding to keep the doors open.  We will give a full update at the
September 7th board meeting. In addition, I have invited the FISH board members
to the dinner/social part of the meeting.  I hope that you all will be able to
make the meeting in person and stay for dinner.</p>
<br>
<p>It is grant season at New Reach!  We have submitted grants to increase the number 
of units for Rapid ReHousing (22 families annually) and for Supportive housing (36 units).
In addition, we requested funding from the Community Foundation and Seachange to fund
the FISH merger and operating dollars.  We are requesting an increase for our diversion program also. </p>
<br>
<p>Please mark your calendar for October 20th at 5 pm at Stony Creek Brewery for A Night Out with New Reach!  
We are in need of items for the raffle, many thanks to the board members on the committee who are rounding
up items and sponsorships.  If you need information about either, please contact Victoria.
The audit is underway and we should have final numbers in September. </p>
<br>
<p>Best,</p>
 
<p>Kellyann</p>
<br>
<h3 style="text-align:center">Diversity, Equity, & Inclusion</h3>
<br>
<p style="text-align:center">Click the <b>button</b> below to read the most recent DEI Newsletter.</p>
<br>
<br>
<img src="{{url_for('static', filename = 'img/pic1.png')}}" alt="">

<img src="{{url_for('static', filename = 'img/pic2.png')}}" alt="">


{% endblock %}
